* {
  font-family: "Poppins";
}

.nav_bar_links.active {
  background-color: #eef20cf5; /* Highlighted background */
  color: black; /* Text color */
}

#nav_bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
  display: flex;
}

.nav_bar_items {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.nav_bar_links {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 30px;
}

.nav_bar_links:hover {
  background-color: #efa212;
  color: black;
}

body {
  margin: 0;
}

#reddit_icon {
  width: 100px;
}
#twitter_icon {
  width: 100px;
}
.nav_bar_icons_left {
  display: flex;
  align-items: center;
  margin-right: 3px;
  float: left;
}
.nav_bar_icons_right {
  margin-left: auto;
  display: flex;
  align-items: center;
  margin-right: 15px;
}

#youtube_icon {
  width: 120px;
  padding: 0px;
}
#brawler_info {
  margin: 8px;
}
.brawler_rarities {
  font-size: 25px;
}
#starting_brawler_icon {
  width: 40px;
}
#rare_brawler_icon {
  width: 40px;
}
#super_rare_brawler_icon {
  width: 40px;
}
#epic_brawler_icon {
  width: 40px;
}
#mythic_brawler_icon {
  width: 40px;
}
#legendary_brawler_icon {
  width: 40px;
}
p {
  margin: 5px;
}
.table_rarity_word {
  padding-left: 25px;
}
#bs_brawlers_title {
  margin-left: 10px;
}
.table_with_info {
  border: 6px solid #efa212;
  width: 70%;
  margin-right: auto;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  margin: 15px;
}

.heading_info {
  font-size: 20px;
}
.info {
  font-size: 20px;
  padding-top: 0px;
}
#home_icon {
  width: 80px;
}
.sort_by_list {
  list-style-type: none;
  font-size: 25px;
  margin-left: 15px;
}
#mastery {
  display: flex;
}
#mastery_icon {
  width: 160px;
  height: auto;
}
#mastery_table {
  border-collapse: collapse;
}
.simple_table {
  border: 3px solid #dddddd;
}
.simple_table td {
  padding: 10px;
  border: 1px solid #dddddd;
  align-items: center;
}
.simple_table.even {
  background-color: #9a9a9a;
}
.in_table_mastery_icon {
  width: 25px;
  vertical-align: -6.2px;
}
.in_table_trophy_icon {
  width: 25px;
  float: right;
  vertical-align: px;
}
h2 {
  margin: 5px;
}
