#nav_bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  display: flex;
}

.nav_bar_items {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.nav_bar_links {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 30px;
  font-family: "Poppins";
}

.nav_bar_links:hover {
  background-color: #efa212;
}

body {
  margin: 0;
}

#reddit_icon {
  width: 50px;
}
#twitter_icon {
  width: 100px;
}
.nav_bar_icons {
  display: flex;
  align-items: center;
  margin-left: auto;
  float: right;
}
#youtube_icon {
  width: 120px;
  padding: 0px;
}
