.profile_picture {
  border-radius: 50%;
  width: 150px;
  margin-bottom: 20px;
  margin-top: 10px;
}
#name {
  font-family: "Lexend Deca", sans-serif;
  font-size: 45px;
  margin-left: 35px;
}
.container {
  margin: 0px;
  display: flex;
  align-items: center;
}
td,
th {
  border: 0.5px solid grey;
  text-align: left;
  padding: 5px;
  vertical-align: top;
}
table#info_table {
  border-collapse: collapse;
  margin-right: auto;
  margin-bottom: 20px;
  width: 100%;
}
.about_me {
  border: 5px solid #7de23f;
  padding: 10px;
}
.about_me_info {
  font-size: 20px;
}
#football_picture {
  height: 280px;
  width: 490px;
  margin-left: 10px;
  margin-top: 10px;
}
#mathematics_picture {
  height: 280px;
  margin-top: 10px;
}
#red {
  color: red;
}
#right_div {
  margin-top: 10px;
  margin-left: 3px;
}
